doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')
    title How long yky with jgs
    link(rel='stylesheet', type='text/css', href='index.css')
  body
    #content
      h1
      p 一緒にいます
    footer
      p
    script(type='text/javascript', src='index.js')
