doctype html
html
  head
    meta(charset="utf-8")
    title How long yky with jgs
    link(rel="stylesheet", type="text/css", href="index.css")
  body
    #content
      h1
      p 一緒にいます
    footer
      p since 2011.10.01
    script(type="text/javascript", src="app.min.js")
